@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');

$mainColor: hsl(217, 54%, 11%);
$cardColor: hsl(216, 50%, 16%);
$font:'Outfit', sans-serif;
$valuecolor: aqua;
$shadow: #000000;
$primaryColor: #ffffff;